include ./mixins.pug


- 
  var images = [
    {
        speed: '0.1',
        img: 'Sky.jpg'
    },{
        speed: '0.7',
        img: 'Mountain.png'
    },{
        speed: '3',
        img: 'Baloon.png'
    },{
        speed: '1.5',
        img: 'Cloud.png'
    },{
        speed: '0.5',
        img: 'Man.png'
    },{
        speed: '0.5',
        img: 'Mountain1.png'
    },{
        speed: '1',
        img: 'White.png'
    }
  ]


<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .main
          .parallax__list 
            each pic in images
              .parallax__item(data-speed=pic.speed)
                +image(`content/`+ `${pic.img}`,'parallax__item-img',`parallax's layer of `+ `${pic.img}`)
          section.fullscreen-section.wellcome-section
            header.header
              span.logo SR
              +nav('nav',["главная", "обо мне", "навыки", "работы", "отзывы", "связаться"], 0)
              ul.socials
                li.socials__item
                  a.social__path(href="https://www.instagram.com/" aria-label="перейти в инсгарм" target="_blank")
                    +icon('insta', 'socials__link')
                li.socials__item
                  a.social__path(href="https://www.vk.com/" aria-label="перейти во вкотакте" target="_blank")
                    +icon('vk', 'socials__link')
                li.socials__item
                  a.social__path(href="https://www.github.com/" aria-label="перейти на гитхаб" target="_blank")
                    +icon('github', 'socials__link')
              button.burger-menu
            .container
              h1.title.autor 
                span.title-about Личный сайт веб разработчика
                span.title-name Safin Roman
            .scroll 
              button.scroll__button
                +icon('scroll', 'scroll__link')
          section.fullscreen-section.info-section
            .container
              .info(data-speed="6")
                .info__first
                  +image('content/user.jpg', 'avatar', 'аватар веб разработчика')
                  - 
                    var obj = 
                    {
                      'Проживаю:':'  Москва', 
                      'Возраст:':'   26 лет',
                      'Родился:':'   20 Января 1993'
                    }  
                  ul.userList
                    each value, key in obj
                        li.userList__item=key
                          span.userList__item_description=value
                .info__second
                  h2.title.title_info
                    span.title-name Safin Roman
                    p.title-about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p.title-site Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        section.fullscreen-section.useful-section
          .container.useful-container
            .title.skills
              h2.title-name Чем я могу быть полезен вам
              p.title-about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .values__widget
              #skills-component
        .container.myworks
          .title.myworks-title
            h2.title-name Мои Работы
          .works__content
            #slider-component
        .myworks-trangles
          svg.myworks-trangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 500,0 1000,100"
            )
        section.feedback-section
          .container
            .title.feedback-title
              h2.title-name Что обо мне говорят
          .container
            #reviews-item
          .container
            .title.contacts-title
              span.title-name Связаться со мной
            form.contacts#myForm
              .contacts__user
                label.contacts__label.name 
                  span.contacts__label-block Введите ваше имя
                  input(type="text" name="name" placeholder="Safin Roman" minlength="4" maxlength="8" required).contacts__label-input.client
                label.contacts__label.email 
                  span.contacts__label-block Введите ваш email
                  input(type="email" name="mail" placeholder="loftschool@study.com" minlength="4" maxlength="32"  required).contacts__label-input.mail
              .contacts__user.message
                label.contacts__label.textarea 
                  span.contacts__label-block Сообщение к письму
                  textarea(name="message" placeholder="Требуется помощь в создании сайта интересны сроки и цена" minlength="8" maxlength="150"  type="text" required).contacts__label-textarea.comments
              .contacts__submit
                button(type="submit").contacts__submit-button#submit Отправить
      footer.footer
        .container.footer-container
          .footer__first-block
            .copyright © 2019
            .title.footer-title
              span.title-name Safin Roman
              p.title-about Личный сайт веб-разработчика
          .footer__second-block
            +nav('footer-nav nav',["главная", "обо мне", "навыки", "работы", "отзывы", "связаться"], 0)
            .footer__second-block-info
              .title.footer-title
                p.title-about Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                ul.socials.footer-socials
                  li.socials__item
                    +icon('insta', 'socials__link')
                  li.socials__item
                    +icon('vk', 'socials__link')
                  li.socials__item
                    +icon('github', 'socials__link')
              .footer__second-block-info__quotes
                q.title-about Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                p.autor-quote Martin Golding
                
    include ./templates/entry.pug

                
            
